
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure reports
/allure-results/
/allure-report/

# Markdown files
*.md

# Environment variables
.env
